@import "/src/sass/global";

.jobSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  @include respondTo(mobile) {
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    border: 1px solid darkgray;
    border-radius: 0.6rem;

    padding: 0.4rem 0.6rem;
  }
}
