@import "/src/sass/global";

.authAccount {
  @include formedContent();

  &__logo {
    width: 6.8rem;
    border-radius: 100%;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;

    margin: 0.2rem 0 1.2rem;

    @include respondTo(xs) {
      font-size: 28px;
    }
  }

  &__link {
    color: dodgerblue;
    margin: 0 auto;

    @include clickEffect();
  }
}
