@import "/src/sass/global";

.detail {
  width: 100%;

  background-color: white;
  box-shadow: 0 0 4px 2px rgba($color: gray, $alpha: 0.1);
  border-radius: 1rem;

  padding-block: 1rem;
  padding-inline: 2rem;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2.6rem;

    &-jobName {
      font-size: 18px;

      &-salary {
        font-size: 14px;
        font-weight: normal;
      }
    }

    &-date {
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  }

  &__sentText,
  &__sendCV {
    background-color: dodgerblue;
    border-color: dodgerblue;

    margin: 0 auto;
    margin-top: 2rem;
  }

  &__sentText {
    user-select: none;

    background-color: $primary-color;
    color: white;
    border-radius: 1rem;

    text-align: center;
    font-size: 18px;

    padding: 0.6rem;
  }
}
