@import "/src/sass/global";

.workCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;

  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;

  padding: 0.4rem 0;

  &:hover {
    opacity: 0.4;
    color: black;
  }

  &__info {
    &-name {
      margin-bottom: -0.46rem;
    }
  }

  &__text {
    font-size: 14px;
  }
}
