@import "/src/sass/global";

.jobCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;

  font-size: 14px;

  padding: 0.4rem 0;

  &__title {
    font-size: 16px;
    margin-bottom: -0.4rem;
  }
}
